.button{ 
    padding: 10px 15px;
    background: var(--tg-theme-button-color);
    border-radius: 20px;
    color: white;
    background-color: rgb(220, 69, 69);
    outline: none;
    border: chocolate;
    cursor: pointer;
}