* {
  margin: 0;
  text-align: center;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(145, 145, 145);
}

body {
  background:  var(--tg-theme-bg-color);
  color: var(--tg-theme-text-color) ;
}
